<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sokoban</title>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
  <link href='css/sokoban.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <script src="js/lib/requirejs/require.js"></script>
  <script>
    require(['js/require-conf'], function() {
      require(['{{main}}']);
    });
  </script>
  <div class="app"></div>
</body>
</html>
