<div class="title">Sokoban</div>

<div class="menu">
  <button class="restart-level-btn">Restart</button>
  <button class="undo-move-btn" title="Shortcut: Ctrl-Z">Undo</button>
</div>

<div class="level-status"></div>
<div class="goals-status"></div>

<div class="holder-outer1">
  <div class="holder-outer2">
    <div class="holder board-view">
      <div class="board"></div>
    </div>
    <div class="instructions"></div>
  </div>
</div>

<div class="holder-outer1 finished-dialog-outer">
  <div class="holder-outer2">
    <div class="holder finished-dialog">
      <div class="finished-dialog-text"></div>
      <div class="finished-dialog-remarks"></div>
      <button class="next-level-btn">Next Level</button>
    </div>
  </div>
</div>
